<footer class="bg-danger py-3 text-center" style="--bs-bg-opacity: .2;">
    <p class="mb-1">Copyright &copy; 2024</p>
    <p class="mb-1">All Rights Reserved</p>
    <!-- Developer info -->
    <p class="mb-0">Developed by: <a href="https://github.com/JoanhacDev">JoanhacDev</a></p>
</footer>