<header class="fixed-top">
    <nav class="navbar bg-danger" style="--bs-bg-opacity: .2;">
        <div class="container">
            <a class="navbar-brand text-white" href="/logout">Cerrar sesión</a>
        </div>
    </nav>
</header>